<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>

    <!--AWS-->
    <add key="AWSAccessKey"             value=""                                            />
    <add key="AWSSecretKey"             value=""                                            />
    <add key="ProcessedQueueName"       value="LUNAR_Processed"                             />

    <!-- MONGO -->
    <add key="MongoAddress"             value="localhost:27017"                             />
    <add key="MongoUser"                value="lunar"                                       />
    <add key="MongoPassword"            value="lunar"                                       />
    <add key="MongoDatabase"            value="LunarDB"                                     />
    <add key="MongoCollection"          value="Records"                                     />

  </appSettings>

</configuration>