<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--AWS-->
    <add key="AWSAccessKey"             value=""                        />
    <add key="AWSSecretKey"             value=""    />
    <add key="ToBeProcessedQueueName"   value="LUNAR_ToBeProcessed"                         />
    <add key="ProcessedQueueName"       value="LUNAR_Processed"                             />

    <!-- REVERSE GEOCODING API -->
    <add key="ReverseGeocodingApiKey"   value=""     />
    
    <!-- CONFIGURATION FIELDS-->
    <add key ="CaptureInterval"         value ="30"                                         />  <!-- Value in seconds -->

  </appSettings>
</configuration>