<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--AWS-->
    <add key="AWSAccessKey"             value="INSERT_YOUR_ACCESS_KEY_HERE"                 />
    <add key="AWSSecretKey"             value="INSERT_YOUR_SECRET_KEY_HERE"                 />
    <add key="ToBeProcessedQueueName"   value="LUNAR_ToBeProcessed"                         />
    <add key="ProcessedQueueName"       value="LUNAR_Processed"                             />
    <add key="ToBeTestedQueueName"      value="LUNAR_ToBeTested"                            />
    
    <!-- REVERSE GEOCODING API -->
    <add key="ReverseGeocodingApiKey"   value="INSERT_YOUR_REVERSE_GEOCODING_API_HERE"      />
    
    <!-- CONFIGURATION FIELDS-->
    <add key ="CaptureInterval"                   value ="30"                                        />  <!-- Value in seconds -->
    <add key ="ShouldUseMachineLearningAlgorithm" value="true"                                       />
    
  </appSettings>
</configuration>